@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">NBA Points Per Minutes</h1>
</div>

<div class="select-card">
    <div class="player1-card">
        <h4>Player 1</h4>
        <input id="Player1" type="text" /><br />
    </div><br />

    <div class="player2-card">
        <h4>Player 2</h4>
        <input id="Player2" type="text" />
    </div>
</div><br />

<div class="Submit-btn">
    <input id="Submit1" type="submit" value="submit" />
</div>
